@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 7%, #6284FF 20%, #e0cece 100%);


    margin: 0;
    padding: 0;
}

/*H1 postion and color*/

h1 {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: 600;
    font-size: 70px;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: conic-gradient(#553c9a 30%, #ee4b2b 40%, #ee4b2b 70%, #00c2cb 80%, #553c9a);
    text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),
        3px 4px 4px rgba(179, 147, 211, 0.15),
        4px 6px 4px rgba(179, 147, 211, 0.2),
        5px 8px 4px rgba(179, 147, 211, 0.25);

    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);


}

/*H1 animation*/
@keyframes scale {
    1% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

/*header and nav bar*/
header {

    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 49%, #6284ff 99%);

    width: 100vw;


    color: beige;
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 20px;
    color: beige;
    padding: 20px 0;
}

nav a {
    text-decoration: none;
    color: beige;
    border-radius: 10px;
    padding: 10px 0;
}

nav a:hover {
    background-color: beige;
    color: black;
}

/*First section*/

.firstSection {
    background-color: #6284FF;
    background-image: linear-gradient(180deg, #6284FF 70%, #e0cece 100%);


}

section div {
    display: inline-block;
    width: 45%;
    vertical-align: top;

}

img[src$=".png"] {
    margin-left: 20%;
    padding-bottom: 20px;
}


p {
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

/*Second section*/

.secondSection {
    padding-top: 40px;
    background-color: #e0cece;
    background-image: linear-gradient(180deg, #e0cece 50%, #e5e7f5 100%);

}

h2 {
    text-align: center;
    padding: 20px 10px;


}

.secondSection ol {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}


/*Footer*/

footer {
    background-color: #e5e7f5;
    font-size: large;
}

footer a {
    color: red;
}